body{
    background-color: blueviolet;
}
div.main1{
    display: flex;
}
h1{
    border: 3px solid black;
    color: red;
    text-align: center;
}
#d1{
    position: relative;
    height: 500px;
    width: 400px;
    left: 800px;

}
#r1{
    border: 2px solid brown;
    height: auto;
    width: auto;
}
#r2{
    border: 2px solid brown;    
    height: 60px;
    width: 400px;
}
#d2{
    position: absolute;
    height:500px;
    width:400px;
    top: 70px;
    left:800px;
}
